.page-login {
    --brand-height-wap: 80px;
    display: grid;
    // grid-template-columns: minmax(480px, relative-percentage(480, 1440)) 1fr;

    width: 100%;
    height: 100dvh;

<<<<<<< HEAD:pages/login/index.scss
    @include media-down(1280) {
        // grid-template-columns: 1fr;
    }
=======
    // @include media-down(1280) {
    grid-template-columns: 1fr;
    // }
>>>>>>> 849a5107a4a7e9caa9717168c4c4aa7208a27ec7:pages/login/page-login.scss

    .brand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);

        // @include media-down(1280) {
<<<<<<< HEAD:pages/login/index.scss
            height: var(--brand-height-wap);
=======
        height: var(--brand-height-wap);
>>>>>>> 849a5107a4a7e9caa9717168c4c4aa7208a27ec7:pages/login/page-login.scss
        // }
    }

    .title {
        color: #fff;
        letter-spacing: 5px;
        font-size: 3rem;
        writing-mode: vertical-lr;

        // @include media-down(1280) {
<<<<<<< HEAD:pages/login/index.scss
            writing-mode: horizontal-tb;
            font-size: 2rem;
=======
        writing-mode: horizontal-tb;
        font-size: 2rem;
>>>>>>> 849a5107a4a7e9caa9717168c4c4aa7208a27ec7:pages/login/page-login.scss
        // }
    }

    .login_wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        // @include media-down(1280) {
<<<<<<< HEAD:pages/login/index.scss
            height: calc(100dvh - var(--brand-height-wap));
=======
        height: calc(100dvh - var(--brand-height-wap));
>>>>>>> 849a5107a4a7e9caa9717168c4c4aa7208a27ec7:pages/login/page-login.scss
        // }
    }

    .login_block {
        display: flex;
        flex-direction: column;
        // gap: var(--spacing-4x);
        padding: var(--spacing-4x);

        width: 480px;

        border-radius: $border-radius-base;
        box-shadow: map-get($dropShadow, "window-bottom"), map-get($dropShadow, "window-topleft");

        @include media-down(576) {
            width: calc(100% - var(--spacing-4x));
        }
    }
}

.login_wrap {
    background-color: #fff;
}
