// @font-face {
//     font-family: "Inter";
//     src: url("~/assets/fonts/inter/static/Inter-Regular.ttf") format("opentype");
//     font-weight: 400;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("~/assets/fonts/inter/static/Inter-Medium.ttf") format("opentype");
//     font-weight: 500;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("~/assets/fonts/inter/static/Inter-SemiBold.ttf") format("opentype");
//     font-weight: 600;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("~/assets/fonts/inter/static/Inter-Bold.ttf") format("opentype");
//     font-weight: 700;
// }

// @font-face {
//     font-family: "Inter";
//     src: url("~/assets/fonts/inter/static/Inter-Black.ttf") format("opentype");
//     font-weight: 900;
// }

body {
    font-family: "Noto Sans TC", sans-serif;

    font-display: swap;
    font-weight: 600;
    line-height: 1.5;
}

@each $name, $value in $font {
    .font-#{$name} {
        font-size: #{map-get($value, "fz")};
        font-weight: #{map-get($value, "fw")};
        letter-spacing: #{map-get($value, "ls")};
        line-height: #{map-get($value, "lh")};
    }
}

@each $name, $color in $color {
    .txt-#{$name} {
        color: $color;
    }
}
