.expense_item {
    &-wrapper {
    }
    &-inner {
        background-color: #fff;
        border-radius: $border-radius-base;
        overflow: hidden;
    }

    &-hd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #eaeaea;
        padding: 8px 16px;
        font-size: 0.8rem;

        cursor: pointer;

        .date {
            color: var(--gray-3);
        }
        .amount {
            &-currency {
                margin-right: 4px;
                color: var(--gray-2);
            }
            &-value {
                color: var(--status-color-3);
            }
        }
    }

    &-bd {
    }
}
