.au_btn-simple {
    min-width: unset;
    width: calc(var(--w) * 1px);
    height: calc(var(--h) * 1px);

    &:hover {
        filter: drop-shadow(0 0 10px #fff);
    }

    .au_btn-inner {
        padding: 0;
    }

    .au_btn-bg {
        width: 100%;
        height: 100%;
    }
}
