.details_page {
    .game_img {
        max-width: 300px;
        margin: auto;
    }
    
    h1,
    p {
        text-align: center;
    }
    
    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}